<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button>장바구니 담기</button>
  </body>
  <script src="/res/js/projectUtils.js"></script>
  <script>
    // private String ordDate;
    // private String usrMemid;
    // private String ostState;
    // private String payCode;
    // private List<OrderDetailBean> orderDetail;
    // private String odtOrddate;
    // private String odtOrdmemid;
    // private String odtProusrselid;
    // private String odtProcode;
    // private int odtQty;
    // private String odtMemrecipient;
    // private String odtGstcode;

    const keys = ["odtProusrselid", "odtProcode"];
    const values = ["seller", "3"];
    // odtProusrselid=seller&odtProcode=3
    const formData = makeFormData(keys, values);
    sendAjaxPost("insertCart", formData, "insertCartCallBack");

    function insertCartCallBack(data) {
      console.log(data);
    }
  </script>
</html>
